<section>
  <form [formGroup]="form">
    <div formArrayName="items" *ngFor="let item of form.get('items')['controls']; let i = index">
      <div [formGroupName]="i">
        <div class="input-wrapper" >
          <div class="input">
            <label>project</label>
            <input type="text" placeholder="project" formControlName="project">
          </div>

          <div class="input">
            <label>date</label>
            <input type="text" placeholder="date" formControlName="date">
          </div>
        </div>
        <div class="input-wrapper" style="flex-basis: 100%">
          <textarea  id="" cols="20" rows="6" placeholder="description"></textarea>
        </div>
      </div>
    </div>
  </form>

  <div class="btns">
    <button (click)="addItem()">add</button>
    <button (click)="removeItem()" *ngIf="form.get('items')['controls'].length > 1">remove</button>
  </div>

</section>
