section{
  border: 1px dashed #129a6d;
  border-radius: 8px;
  padding: 10px;
}

.btns{
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}
button{
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: aquamarine;
  border: 1px solid #46b994;
  cursor: pointer;
}

textarea{
  border-radius: 8px;
  width: 100%;
}
