<form [formGroup]="form">
  <div class="input-wrapper">
    <div class="input">
      <label>name</label>
      <input type="text" placeholder="name" formControlName="name">
    </div>

    <div class="input">
      <label>family</label>
      <input type="text" placeholder="family" formControlName="family">
    </div>
  </div>

  <div class="input-wrapper">
    <select style="flex-basis: 100%; margin-top: 12px" class="select" (change)="select($event)" formControlName="type">
      <option disabled selected value="select an option" hidden>select an option</option>
      <option value="skills">skills</option>
      <option value="projects">project</option>
    </select>
  </div>
</form>


<ng-conatiner [ngSwitch]="form.controls['type']?.value">

  <app-form-skills *ngSwitchCase="'skills'"></app-form-skills>
  <app-form-projects *ngSwitchCase="'projects'"></app-form-projects>

</ng-conatiner>
